@font-face {
	font-family: 'PTRootUIWebBold';
	font-display: swap;
	src:
					url('../fonts/pt-root-ui_bold.woff2') format('woff2'),
					url('../fonts/pt-root-ui_bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebLight';
	font-display: swap;
	src:
					url('../fonts/pt-root-ui_light.woff2') format('woff2'),
					url('../fonts/pt-root-ui_light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebMedium';
	font-display: swap;
	src:
					url('../fonts/pt-root-ui_medium.woff2') format('woff2'),
					url('../fonts/pt-root-ui_medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUIWebRegular';
	font-display: swap;
	src:
					url('../fonts/pt-root-ui_regular.woff2') format('woff2'),
					url('../fonts/pt-root-ui_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
