.brands {
  padding: 150px 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .swiper-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      cursor: pointer;
    }

    .arrow-left {
      left: 30px;
    }

    .arrow-right {
      right: 30px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      pointer-events: none;
    }
  }

  &-link {
    cursor: pointer;
  }
}

@include media(700) {
  .brands {
    padding: 30px 0;
  }
}
